# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Next.js
.next/
out/
build
dist

# Production
*.log

# Misc
.DS_Store
*.pem

# Debug
.vscode
.idea

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Git
.git
.gitignore

# Documentation and tests
README.md
tests/
*.md

# Old files
*.old
src.old
public.old
